<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    Learning Resource Centre
  </title>
  <style>
    body {
        animation: fadeInAnimation ease 3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Gooogle Auth-->
  
  <meta name="google-signin-client_id" content="15064425583-h6gqtm6l884069s03jtuvn8v892u1ukj.apps.googleusercontent.com">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  <!-- Font Awesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.css" rel="stylesheet" />
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

  <script src="/javascripts/ip.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
    async defer>
</script>

<script>
    function onSubmit()
    {
       document.getElementById('submit-id').disabled=false
    }
</script>
</head>

<body>
  <!-- Section: Design Block -->
  <section class="text-center" style="padding-bottom: 20px;">
    
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-image: url('/images/libraryimg4.jpg');
        height: 300px;
        ">
        
      <div class="container" style="display: flex;padding-bottom: 30px;">
          <img src="/images/favicon.ico" alt="logo" width="130px">
      </div>    
    </div>
    <!-- Background image -->
    
    <div class="card mx-4 mx-md-5 shadow-5-strong" data-mdb-animation="slide-out-right" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        
      <div class="card-body py-5 px-md-5">
        
        <div class="row d-flex justify-content-center">
         
          <div class="col-lg-8">
          <div class="mb-3">
            <h2>Web Development Team</h2>
          </div>   
            
          
           <center>
            <div class="card col-lg-4">
                <img src="/images/naveen3.JPG" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">Naveen Mittal</h5>
                  <p class="card-text">CSE III Year</p>
                  <a href="https://www.linkedin.com/in/naveen-mittal-22b7a3179/" class="btn btn-primary">linkedin</a>
                </div>
              </div>
            </center>  
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  <!-- Footer -->
  <div >
    <footer class="bg-primary text-white text-center text-lg-start fixed-bottom">
      <div class="footer-copyright text-center py-3">
        © 2022 Copyright: <a href="https://www.mitsgwalior.in" class="text-white" target="_blank">mitsgwalior.in</a>
      </div>
  
      
    </footer>
  </div>
  <!-- Footer -->
</body>
<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/5.0.0/mdb.min.js"></script>


</html>